.mybook_box {
    width : 100%;
    position : relative;
    top : 7em;
}

.mybook_header {
    font-size : 4em;
    position : relative;
    top : 3em;
    margin-left : 9.5em;
}

.mybook_content {
    position : relative;
    top : 15em;
    display : flex;
    justify-content: center;
}

.mybook_box img {
    width : 500px;
    height : 300px;
}