.mystory_box {
    width : 100%;
    position : relative;
    top : 70em;
}

.mystory_header {
    font-size : 4em;
    position : relative;
    top : 1em;
    margin-left : 9.5em;
}

.mystory_content {
    position : relative;
    top : 5em;
    display : flex;
    justify-content: center;
}

.mystory1 {
    background : url('mystory1.png');
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    background-size : cover;
    width : 15em;
    height : 15em;
    border-radius : 2em;
    cursor : pointer;
    transition : all 0.5s;
}

.mystory1:hover {
    opacity : 0.5;
    transform : scale(1.1);
}

.mystory1_content {
    visibility: hidden;
    position : absolute;
    background : none;
    font-size : 2em;
    top : 3em;
}

.mystory1:hover ~ .mystory1_content {
    visibility: visible;
}